@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
  .tab{
@apply cursor-pointer text-transparent  bg-clip-text bg-gradient-to-r from-cyan-500 to-blue-500 after:bg-gradient-to-r after:from-cyan-500 after:to-blue-500  ;
   
  }
  .tabhead{
    @apply bg-[#032541] text-white px-4 rounded-2xl py-1;
  }
  .tabheadtrailer{
    @apply bg-[#7ff81c] text-white px-4 rounded-2xl py-1;
  }
  .tabtrailer{
    @apply cursor-pointer text-transparent  bg-clip-text bg-gradient-to-r from-[#032541] to-[#032541] after:bg-gradient-to-r after:from-cyan-500 after:to-blue-500  ;
       
      }
}
